nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 1rem 2rem;
  position: fixed;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.8rem;
  display: flex;
  gap: 2rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.7rem;
  font-size: 1.3rem;
  display: flex;
  color: var(--color-light);
  border-radius: 50%;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-bg);
  color: var(--color-light);
}
